body{
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Roboto;

    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
    background-color: #575757;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed{
    color: gray;
    text-decoration: line-through;
}

h1{
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: rgb(97, 97, 97);
    height: 40px;
    line-height: 40px;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

li:nth-child(2n){
    background-color: #575757;
}

span{
    background-color: #e74c3c;
    height: 40px;
    text-align: center;
    color: white;
    width: 0;
    margin-right: 20px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

input{
    font-size: 18px;
    background-color: #575757;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #1f5980;
    border: 3px solid rgba(0, 0, 0, 0);
}

input::placeholder{
    color: rgb(175, 175, 175);
}

input:focus{
    /* background-color: rgb(79, 117, 133); */
    border: 3px solid #60bfff;
    outline: none;
    color: white;
}

.fa-plus{
    float: right;
    font-size: x-large;
    margin-top: 7px;
}